@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  color: #fff;
  text-decoration: none;
}

body {
  background-color: #000;
}

/* Home Section */
.home-section {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10%;
}

.img-logo {
  width: 112px;
  height: 112px;
  margin-top: 0px;
}

.p1-logo {
  font-weight: 100;
  color: #c0c4ce;
  margin-top: 35px;
  margin-bottom: 10px;
}

.p1-logo span {
  color: #e3646e;
}

.h1-logo {
  font-size: 35px;
  color: #e2e4e9;
  margin-top: 5px;
}

.p2-logo {
  font-weight: 300;
  color: #878ea1;
  margin-top: 10px;
}

.tec-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.tec {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background-color: #292c34;
  border-radius: 25px;
}

.tec img {
  width: 24px;
  height: 24px;
  margin: 5px;
}

.tec p {
  color: #c0c4ce;
  margin-right: 10px;
}

.image-rool {
  width: 30px;
  height: 30px;
  margin-top: 35px;
}

/* Job Section */
.Job-section {
  width: 100%;
  background-color: #000;
  background-size: cover;
  padding: 50px 10%;
}

.text-job {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha os itens no centro */
  text-align: center; /* Garante que o texto dentro de p e h1 também esteja centralizado */
}

.text-job p {
  color: #e3646e;
}

.text-job h1 {
  margin-top: 15px;
}

.jobs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 35px;
}

.job {
  background-color: #878ea1;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.job img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.job h4 {
  color: #e2e4e9;
  margin-top: 10px;
}

.job p {
  color: #c0c4ce;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 8px;
}

/* Services Section */
.services-section {
  width: 100%;
  background-color: #16181d;
  padding: 70px 10%;
}

.services-infos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 25px;
}

.service {
  background-color: #16181d;
  border-radius: 15%;
  border: 2px solid #c0c4ce;
  width: 280px;
  height: 155px;
  text-align: center;
}

.service img {
  width: 48px;
  height: 48px;
  margin-top: 20px;
}

.service h4 {
  color: #e2e4e9;
}

.service p {
  color: #c0c4ce;
  margin-top: 5px;
}

/* Contact Section */
.contact-section {
  width: 100vw;
  background-color: #000;
  padding: 70px 10%;
}

.contact-infos {
  text-align: center;
}

.contact-infos img {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}

.contact-infos h2 {
  color: #bb72e9;
  font-size: 24px;
}

.contact-infos h1,
.contact-infos h4 {
  margin-top: 10px;
}

.medias {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.media {
  display: flex;
  flex-direction: row;
  background-color: #292c34;
  border-radius: 15px;
  width: 400px;
  height: 68px;
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.media img {
  width: 28px;
  height: 28px;
}

.media h2 {
  color: #c0c4ce;
}

/* Responsividade para dispositivos menores (Tablet e Mobile) */

/* Quando a tela tem 768px ou menos (como em tablets ou laptops com telas menores) */
@media (max-width: 768px) {
  /* Home Section */
  .home-section {
    padding: 0 5%;
  }

  .tec-home {
    flex-direction: column;
  }

  .jobs {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em vez de 3 */
  }

  .job {
    height: 250px;
  }

  .img-logo {
    width: 90px;
    height: 90px;
  }

  .p1-logo {
    font-size: 20px;
  }

  .h1-logo {
    font-size: 30px;
  }

  .tec p {
    font-size: 14px;
  }

  .job h4,
  .job p {
    font-size: 14px;
  }

  .services-infos {
    margin-top: 25px;
  }

  .service h4,
  .service p {
    font-size: 14px;
  }

  .medias {
    margin-top: 25px;
  }
}

/* Quando a tela tem 480px ou menos (como em smartphones) */
@media (max-width: 480px) {
  /* Home Section */
  .home-section {
    padding: 0 5%;
  }

  .tec-home {
    flex-direction: column;
    align-items: center;
  }

  .jobs {
    grid-template-columns: 1fr; /* Uma coluna */
  }

  .job {
    height: 220px;
  }

  .tec img {
    width: 20px;
    height: 20px;
  }

  .job img {
    width: 100%;
    height: auto;
  }

  .contact-section {
    padding: 30px 5%;
  }

  .media {
    width: 100%;
    justify-content: center;
  }

  .media img {
    width: 24px;
    height: 24px;
  }

  .media h2 {
    font-size: 16px;
  }
}

/* Quando a tela tem 320px ou menos (smartphones muito pequenos) */
@media (max-width: 320px) {
  /* Home Section */
  .home-section {
    padding: 0 5%;
  }

  .tec-home {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens da tecnologia quebrem para a próxima linha */
    justify-content: space-between; /* Alinha os itens com espaços */
    width: 100%; /* Garante que a .tec-home ocupe toda a largura da tela */
  }

  .tec {
    width: calc(
      100% - 20px
    ); /* Cada item de tecnologia ocupa 100% da largura, subtraindo as margens */
    margin-top: 5px; /* Margin no topo */
    margin-left: 10px; /* Margin à esquerda */
    margin-right: 10px; /* Margin à direita */
    margin-bottom: 10px; /* Margin inferior */
    background-color: #292c34;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Adicionando um pequeno padding interno */
  }

  .tec img {
    width: 24px;
    height: 24px;
  }

  .tec p {
    font-size: 12px; /* Fonte menor */
    color: #c0c4ce;
    margin-left: 10px;
  }

  .img-logo {
    width: 80px; /* Imagem menor */
    height: 80px;
  }

  .p1-logo {
    font-size: 16px; /* Fonte menor */
    text-align: center; /* Alinhar o texto no centro */
  }

  .h1-logo {
    font-size: 24px; /* Fonte menor */
  }

  .p2-logo {
    font-size: 14px; /* Fonte menor */
  }

  .text-job p {
    text-align: center; /* Alinha o texto do parágrafo ao centro */
    font-size: 14px; /* Ajusta o tamanho da fonte para ficar melhor em telas pequenas */
  }

  .text-job h1 {
    text-align: center; /* Alinha o título ao centro */
    font-size: 18px; /* Ajusta o tamanho da fonte */
    margin-bottom: 8px;
  }

  .jobs {
    grid-template-columns: 1fr; /* Uma coluna */
  }

  .job {
    height: 180px; /* Menor altura */
    margin: 10px 0; /* Ajustando a margem */
  }

  .job h4,
  .job p {
    font-size: 12px; /* Fonte menor */
  }

  #service1 {
    margin-top: 10px;
  }

  .service {
    width: 240px; /* Diminuindo a largura */
    height: 140px; /* Diminuindo a altura */
  }

  .service h4,
  .service p {
    font-size: 12px; /* Fonte menor */
  }

  .contact-section {
    padding: 30px 5%; /* Ajuste de padding */
  }

  .media {
    width: 100%;
    justify-content: center;
  }

  .media img {
    width: 20px;
    height: 20px;
  }

  .media h2 {
    font-size: 14px; /* Fonte menor */
  }
}
